@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.welcome-page {
  height: 100%;
  /* background: rgb(139, 124, 124); */
  position: relative;
}
.mainImg {
  width: 390px;
  height: 219px;
}
.mainImg-text-container {
  color: white;
  font-family: Roboto;
}

.mainImg-text {
  /* padding: 15px; */
  display: flex;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  padding: 0 2%;
  width: 80%;
  top: 65px;
  text-shadow: 0px 0px 2px #ffffff;
  /* font-size: 20px; */
}

.mainImg-text-2 {
  position: absolute;
  width: 100%;
  top: 225px;
  font-size: 10px;
  /* font-size: 18px; */
  /* font-weight: 700;   */
  color: #f5f5f5;
  text-shadow: 0px 0px 4px #ffffff;
}

.push-right {
  /* padding:2%; */
  width: 100%;
  margin-left: 72px;
}
