

.navbar{
    width:390px;
    height: 56px;
    position:relative;
    background: white;
    box-shadow: 0px 1px 1px rgba(51, 51, 51, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
}

.logo {
  width: 34px;
  height: 21px;
}

.navbar-item {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.login {
  color: #3b49df;
  border: 1px solid #3b49df;
  margin-right: 5px;
}
