@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.nav-filter{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #F5F5F5;
    height:43px;
}
.nav-filter-list{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    /* align-items: center; */
    margin:auto;
    gap:15px;
    padding:10px;
    cursor: pointer;
}
.nav-filter-item{
    list-style: none;
    text-decoration: none;
    color:black;
}
.active-nav{ 
    text-decoration: none;
    font-weight: bold;
    color:black;

}