
 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
 }

 .wrapper{
    display: grid;
    /* margin-top:60px; */
    justify-content: center;
}

.card{
    height:177px;
    width:370px; 
    border: 2px red solid;
    display:flex;
    flex-direction: column;
    justify-content:center;
    cursor: pointer;
}
.card-body{
    border:2px solid green ;
    display: flex;
    justify-content: space-between;
}

.card-title{
    padding:1rem;
}

.avatar{
    border-radius: 50%;
    height:3rem;
    width:3rem;
    margin-top:18px;
    margin-left:18px;
    border:2px pink solid;
}
.btn{
    width:30px;
}
.btn-box{
    display:flex;
    justify-content:center;
}