
 *{
     margin:0;
     padding:0;
     box-sizing: border-box;
 }

 .wrapper{
    display: grid;
    /* grid-template-columns: auto(auto-fit, minmax(100rem,20rem));
    gap:5rem; */
    justify-content: center;
}

.card{
     /* height: 25rem; */
    width:20rem; 
    border: 2px red solid;
    display:flex;
    flex-direction: column;
    justify-content:center;
    cursor: pointer;
}

.card-title{
    padding:1rem;
}

.avatar{
    border-radius: 50%;
    height:3rem;
    width:3rem;
    margin-top:18px;
    margin-left:18px;
    border:2px pink solid;
}
.btn{
    width:30px;
}
.btn-box{
    display:flex;
    justify-content:center;
}